version: '3.1'
services:
  web:
    container_name: social_go
    build: ./build/go
    image: social_go:master
    ports:
      - "80:8001"
    env_file: .env
    volumes:
      - ./build/go/src:/go/src/
    depends_on:
      - db
    networks:
      - default
  db:
    container_name: social_mysql
    image: mysql:8.0.18
    restart: always
    ports:
      - "3306:3306"
    env_file: .env
    volumes:
      - ./build/mysql/init_sql:/docker-entrypoint-initdb.d
      - ./build/mysql/mycustom.cnf:/etc/mysql/conf.d/custom.cnf
    networks:
      - default
networks:
  default:
    ipam:
      driver: default
