version: '3.1'
services:
  web:
    container_name: social_go
    build: ./build/go
    image: social_go:master
    ports:
      - "8000:8001"
    env_file: .env
    volumes:
      - ./build/go/src:/go/src/
  db:
    container_name: social_mysql
    image: mysql:8.0.18
    restart: always
    ports:
      - "3306:3306"
    env_file: .env
    volumes:
      - ./build/mysql/init_sql:/docker-entrypoint-initdb.d
      - ./build/mysql/mycustom.cnf:/etc/mysql/conf.d/custom.cnf
  tester:
    container_name: social_tester
    build: ./build/tester
    image: social_tester:master
    env_file: .env
    volumes:
      - ./build/tester/src:/go/src/