version: '3.1'
services:
  web:
    container_name: ${SOCIAL_SITE_CONTAINER_NAME}
    build: ./build/go
    image: social_go:master
    ports:
      - "${SOCIAL_SITE_EXTERNAL_PORT}:${SOCIAL_SITE_INTERNAL_PORT}"
    env_file: .env
    environment:
      SOCIAL_SITE_INTERNAL_PORT: ${SOCIAL_SITE_INTERNAL_PORT}
    volumes:
      - ./build/go/src:/go/src/
    depends_on:
      - db
  db:
    container_name: social_mysql
    image: mysql:8.0.18
    restart: always
    ports:
      - "3306:3306"
    env_file: .env
    volumes:
      - ./build/mysql/init_sql:/docker-entrypoint-initdb.d
      - ./build/mysql/mycustom.cnf:/etc/mysql/conf.d/custom.cnf
  tester:
    container_name: social_tester
    build: ./build/tester
    image: social_tester:master
    env_file: .env
    environment:
      SOCIAL_SITE_CONTAINER_NAME: ${SOCIAL_SITE_CONTAINER_NAME}
      SOCIAL_SITE_INTERNAL_PORT: ${SOCIAL_SITE_INTERNAL_PORT}
    volumes:
      - ./build/tester/src:/go/src/
    depends_on:
      - db
      - web